/*************************
    GENERAL STYLES
**************************/
body {
    background:#f2f0f0 !important;
}

.container {
    display: inline;
    width: 100%;
    padding:0px;
}

.notext-decorate {
    text-decoration: none !important;
}


/*************************
    NAVBAR STYLES
**************************/
.top-bar.navbar-desktop {
    background-color: #7da7d9;
    color: white;
    width: 100%;
    padding: 20px;
}

/*************************
    MAIN.HTML STYLES
**************************/

.jumbo {
    background-color: #2e3192;
    height: 700px;
    padding: 80px 0px;
    color: white;
    border-radius: 0px;
    text-align: center;
    font-size: 20px;
}

.jumbo h1 {
    margin-top: 160px;
}

.jumbo p {
    margin-left: 80px;
    margin-right: 80px;
}

.button.success {
    width: 300px;
    border-radius:20px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    padding: 20px;
}

.featurePanel {
    text-align: center;
    padding: 80px 0px;
}

.featurePanel h2 {
    font-weight:700;
    display:inline-block;
    font-size:35px;
    margin-bottom: 55px;
}

.featuremodule {
    display:inline-block;
    width: 300px;
    height: 350px;
    padding: 20px;
    margin-right:0px;
    background-color: #a1a1a1;
    color: white;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.featuremodule:hover,
.featureModule:focus {
    background-color: black;
}

.featuremodule i {
    margin-top: 20px;
    font-size: 125px;
    color: #737373;
}

/*************************
    CHARTS STYLES
**************************/

.sidebar {
    background-color:#568fd3;
    height: 100vh;
    padding: 65px 0px;
}

.sidebar-item {
    padding-top: 5px;
    width: inherit;
    height: 60px;
    text-align: center;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.sidebar-item:hover {
    background-color:#4670a1;
}

.sidebar-item-icon {
    position: absolute;
    margin-top: 12px;
    margin-left: 65px;
    height: 25px;
    width: 25px;
    background-color: #00ff00;
    border-radius: 50%;
}

.sidebar-item-icon.purple {
    background-color: #ff00ff;
}

.sidebar-item-icon.yellow {
    background-color:#f26522;
}

.sidebar-item-active {
    width: inherit;
    height: 48px;
    background-color: #1caf9a;
}

.sidebar-item p {
    line-height:48px;
    color: white;
    font-weight: 300;
    font-size:20px;
    display:inline-block;
}


/*************************
    DASHBOARD STYLES
**************************/
.dash-info {
    height: 130px;
    width: 100%;
    display: inline-block;
    padding: 20px;
}

.dash-info.green {
    background-color:#26a65b;
}

.dash-info.blue {
    background-color:#088DA5;
}

.dash-info.red {
    background-color:#EC644B;
}

.dash-title {
    color: white;
    font-size: 30px;
    display:inline-block;
    margin-bottom: 0px;
}

.dash-subtitle {
    font-size:20px;
    color: white;
}

.row.charts-page {
    max-width: 100%;
    padding: 0px;
}

.columns.charts-page {
    padding: 0px;
    height: 100vh;
}

.row.dash-header {
    padding: 20px;
}

/*************************
    CHART STYLES
**************************/
.chart-info {
    padding: 20px;
}
